* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator__monitor {
    width: 19.4rem;
    height: 3rem;
    border: 1px inset rgb(221,221,221);
    margin: .3rem;
    text-align: right;
    overflow: hidden;
    font-size: 2.5rem;
}

.calculator {
    border: outset;
    width: fit-content;

}

.calculator, .calculator__buttonBox {
    display: flex;
    flex-direction: column;
}

.calculator__row, .calculator__panels {
    display: flex;
    flex-direction: row;
}

.calculator__cell, .calculator__resultBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: auto;
    border: 1px solid #ddd;
    height: 3rem;
    width: 5rem;
    text-decoration: none;
    border: none;
    border-collapse: collapse;
}

.calculator__resultBtn {
    height: 12rem;
}

.btn, .resultBtn {
    margin: .3rem;
    width: 5rem;
}

.btn:hover, .resultBtn:hover {
    cursor: pointer;
}

.btn:focus, .resultBtn:focus {
    outline: none;
}

.btn:active, .resultBtn:active {
    border: inset;
}

.btn {
    background-color: rgb(249,249,249);
    border: 1px outset rgb(241,241,241);
}

.btn--commands {
    background-color: rgb(221,221,221);
}

.resultBtn {
    background-color: rgb(77,143,253);
    color:  rgb(249,249,249);
    border: 1px outset rgb(45, 106, 211);
}